<h1>About Alpha Blog</h1>
<p>This is a blog site using crud.  It is part of a first Ruby on Rails
  project that we will create as part of learning Ruby on Rails.  We are
  learning Rails so we have a backend we can use for our React projects as I
  really hate Expressjs.  I find Expressjs to be a bunch of extra work when I
  just need a simple backend API to store and retrieve data from for my React
  Applications.  I also want to showcase my ability to learn multiple
  languages by using Rails.
</p>