// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: auto;
  width: 1020px;
}

h1 {
  margin-top: 24px;
  color: dodgerblue;
  text-align: center;
  font-family: "Times New Roman", serif;
}

p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  color: #333;
  text-align: justify;
  margin-top: 10px;
}